body{
    margin: 0 auto;
    text-align: center;
}
.contenedor {
        display: table;
        margin: 1em;			
    }
    .contenidos {
        display: table-row;
    }

.rojo {
         background:darkred;
        border-radius: 500px 0px 0px 0px;
        -moz-border-radius: 500px 0px 0px 0px;
        -webkit-border-radius: 500px 0px 0px 0px;
        border: 2px solid #000000;
        display: table-cell;
        vertical-align: middle;
        width:30em;
        }
    
.amarillo {
        background:darkgoldenrod;
        border-radius: 0px 500px 0px 0px;
        -moz-border-radius: 0px 500px 0px 0px;
        -webkit-border-radius: 0px 500px 0px 0px;
        border: 2px solid #000000;
        display: table-cell;
        vertical-align: middle;
        width:30em;
        height:30em;

        }
    
.verde {
        background:darkgreen;
        border-radius: 0px 0px 0px 500px;
        -moz-border-radius: 0px 0px 0px 500px;
        -webkit-border-radius: 0px 0px 0px 500px;
        border: 2px solid #000000;
        display: table-cell;
        vertical-align: middle;
        width:30em;
        height:30em;

        }
.azul {
    background:darkblue;
    border-radius: 0px 0px 500px 0px;
    -moz-border-radius: 0px 0px 500px 0px;
    -webkit-border-radius: 0px 0px 500px 0px;
    border: 2px solid #000000;
    display: table-cell;
    vertical-align: middle;
    width:30em;
    height:30em;
    }
.start {
    position: absolute; 
    left: 47.5%; 
    top: 48.5%; 
    padding: 2em;
}
.LigthR {
    background: lightcoral;
    border-radius: 500px 0px 0px 0px;
    -moz-border-radius: 500px 0px 0px 0px;
    -webkit-border-radius: 500px 0px 0px 0px;
    border: 2px solid #000000;
    display: table-cell;
    vertical-align: middle;
    width:30em;
}
.LigthY {
    background:lightyellow;
    border-radius: 0px 500px 0px 0px;
    -moz-border-radius: 0px 500px 0px 0px;
    -webkit-border-radius: 0px 500px 0px 0px;
    border: 2px solid #000000;
    display: table-cell;
    vertical-align: middle;
    width:30em;
    height:30em;

}
.LigthG {
    background:lightgreen;
    border-radius: 0px 0px 0px 500px;
    -moz-border-radius: 0px 0px 0px 500px;
    -webkit-border-radius: 0px 0px 0px 500px;
    border: 2px solid #000000;
    display: table-cell;
    vertical-align: middle;
    width:30em;
    height:30em;

}
.LigthB {
    background:lightblue;
    border-radius: 0px 0px 500px 0px;
    -moz-border-radius: 0px 0px 500px 0px;
    -webkit-border-radius: 0px 0px 500px 0px;
    border: 2px solid #000000;
    display: table-cell;
    vertical-align: middle;
    width:30em;
    height:30em;

}
/* @-webkit-keyframes on {
    from {background: darkred;}
    to {background: lightcoral;}
}

@keyframes on {
    from {background: darkred;}
    to {background: lightcoral;}
}
@-webkit-keyframes off {
    from {background: lightcoral;}
    to {background: darkred;}
}

@keyframes off {
    from {background: lightcoral;}
    to {background: darkred;}
} */
